@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 440px;
  height: 710px;
  align-items: center;
  justify-content: space-evenly;
}

.container:hover{
  background: rgb(41, 44, 123);
  transition: all ease 0ms;
}

.image {
  margin-bottom: 20px;
  height: 270px;
  width: 400px;
  margin-top: 20px;
}

.title {
  font-size: 34px;
  font-weight: bolder;
  color: greenyellow;
  text-decoration: underline;
}

.description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
}

.skills {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  color: wheat;
  justify-content: space-evenly;
}

.skill {
  font-size: 24px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
  text-align: center;
  margin-bottom: 35px;
}

.link:hover{
  background-color: rgb(65, 65, 202);
  color: pink;
  transition: all ease 0.3s;
}